[submodule "dotbot"]
	ignore = dirty
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "config/doom"]
	path = config/doom
	url = https://github.com/joxcat/doom
    branch = master
[submodule "navi"]
	path = navi
	url = https://github.com/joxcat/navi
    branch = master
[submodule "config/leftwm/themes/catppuccin"]
	path = config/leftwm/themes/catppuccin
	url = https://github.com/di-effe/catppuccin.git
