[Desktop Entry]
Name=Cutter RE
Icon=$HOME/Apps/cutter/cutter-small.svg
StartupWMClass=cutter
Comment=Free and Open Source RE Platform powered by radare2
Exec="$HOME/Apps/cutter/build/build/Cutter" %f
Version=1.0
Type=Application
Categories=Development;IDE;RE;
Terminal=false
StartupNotify=true
