[Desktop Entry]
Type=Application
Name=Conky Bottom Spacer
Comment=Start conky script
Exec=/bin/bash -c '/usr/bin/conky -d -c "$HOME/.config/conky/conky-bottom.conf"'
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Application
